.menu { position:fixed; top:0; left:0; bottom:0; width:64px; background:#8dc63f; z-index:1000;  }
.menu .menus { margin-top: 85px;}
.menu .menus a { position:relative; display:block; width:64px; height:62px; text-decoration:none; padding:19px 0 }
.menu .menus a.active, .menu .menus a:hover { background:url(../../images/arr-left.png) no-repeat right center; }
.menu .menus a div { position:absolute; display:none; width:100px; border:2px solid #8dc63f; height:62px; left:100%; top:0; bottom:0; background:#f6f6f6; line-height:58px; border-left:none; text-align:center; }
.menu .menus a:hover div { display:block; }
.menu .menus .menu-ico { display:block; width:24px; height:24px; margin:0 auto; background:url(../../images/menus-ico.png) no-repeat;  }
.menu .menus .ico-business { background-position: top center; }
.menu .menus .ico-week-chart { background-position: 0 -50px; }
.menu .exit { position:absolute; width:64px; height:64px; left:0; bottom: 10px; background: url(../../images/icos.png) no-repeat 25px -6px; cursor:pointer; }
