
.topbar { position:fixed; top:0; left:0; right:0; height:63px; background:#34383c; color:#bfbfbf; padding-left:64px; }
.topbar > a { display:block; position: absolute; width:64px; top:0; left:0; bottom:0; background: #1e2226 url(../../images/logo.png) no-repeat center center; }
.topbar h1 { display:inline-block; margin:0; font-size:18px; font-weight:normal; padding-left:20px; line-height: 63px;  }
.topbar .info { font-size:0; }
.topbar .info > div, 
.topbar .info > span { display:inline-block; font-size:14px; line-height: 63px; }
.topbar .info > span { margin-right:12px; }
.topbar .c-drop { margin-right:34px; }
.topbar .c-drop-store .legend a { color:#8dc63f;}