<div class="login-min">
  <div class="login-min-block">
    <h2 class="login-min-title">登录<a ui-sref="register" class="login-min-register-link fr">注册新账户</a></h2>
    <form>
      <div class="login-min-input" ng-class="{error:1}">
        <input type="" name="" value="">
        <div class="text-error"></div>
      </div>
      <div class="login-min-input">
        <input type="" name="" value="">
        <div class="text-error"></div>
      </div>
      <div class="login-min-input">
        <input type="" name="" value=""><img src="" alt="">
        <a href=""></a>
        <div class="text-error"></div>
      </div>
      <button type="submit" class="login-min-btn-submit">下一步</button>
    </form>
    <a ui-sref="register" class="login-min-register-link">忘记密码</a>
    <i></i>
  </div>
</div>