<div class="login-min">
  <div class="login-min-block animated rubberBand" ng-class="{'jump-animation-target':vm.oauth.submited==1}"><!--zoomOutRight:vm.oauth.submited==1,-->
    <form ng-if="!vm.oauth.submited">
    <h2 class="login-min-title">登录<a ui-sref="register" class="login-min-register-link fr">注册新账户</a></h2>
      <div class="login-min-input" ng-class="{error:1}">
        <input type="text" placeholder="手机号码" ng-model="vm.oauth.username">
        <div class="msg"><span class="text-error">请输入正确的手机号码</span></div>
      </div>
      <div class="login-min-input">
        <input type="password" placeholder="密码" ng-model="vm.oauth.pwd">
        <div class="msg"><span class="text-error">请输入正确的密码</span></div>
      </div>
      <div class="login-min-input">
        <input type="" class="w140 dib" placeholder="验证码" ng-model="vm.oauth.code"><img src="" class="dib link ml10" alt="验证码"><a class="dib link ml10" ng-click="onChangeCode()">换一张</a>
        <div class="msg"><span class="text-error">请输入验证码</span></div>
        <span>验证码输入 next ,进入 我的账户页面</span>
      </div>
      <button type="submit" class="login-min-btn-submit" ng-click="vm.onLogin()">下一步</button>
    <a ui-sref="forget-pwd" class="login-min-register-link">忘记密码</a>
    </form>
    <i></i>
  </div>
</div>